@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 62.5%;
}
/* ========== colors ==========  */
:root{
    --body-color: #dfdcdc;
    --aside-color:  #ffffff;
    --icons-color: #11771a;
    --hover-color: #fbfffb;
    --aside-logo: rgb(254, 255, 254);
    }
/*  ========== Reusable code ==========  */
body{
    /* background: rgb(240, 239, 239); */
    width: 100vw;
    height: 100vh;
}
.icon, .header > .icon{
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 1rem;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr 1fr 1fr;
    grid-template-rows: .3fr 3fr;
    grid-template-areas: 'sidebar header header header '
                         'sidebar main main main';
}
/* =============== Header part start =============== */
.header{
    grid-area: header;
    height: 6.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    box-shadow: 0 7px 8px -3px rgba(16, 24, 15, 0.2);
}
.header h1{
    text-transform: uppercase;
}
/* =============== sidebar part start =============== */
aside{
    grid-area: sidebar;
    width:100%;
    transition: width;
    position: relative;
}
/* =========== (sidebar Logo) ============ */
.sidebar-logo{
  /* border: 2px solid #008000; */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  height: 6.2rem;
  padding-top: .5rem;
  padding-right: 2rem;
  position: relative;
  /* box-shadow: 0px 1px 3px rgba(0,0,0,0.2); */
}
.logo-icon{
  margin-left: 1rem;
  font-size: 4rem; 
  color: rgb(243, 4, 4);
}
.logo-name{
  color: #266e16;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  text-transform: uppercase;
}
.toggle-icon:hover{
  color:red;
  cursor: pointer;
}
.toggle-name{
  display: none;
}
.logo{
  color: #830172;
  font-size: 2.5rem;
  font-weight: 700;
}
.sidebar_list_item a .icon{
  font-size: 2rem;
  color: #6b025d;
}
/* .close-icon{
  color:#000;
  position: absolute;
  top: .5rem;
  left: 17rem;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  display: none;
} */
/* =========== (Content Part) ============ */

.sidebar-content{
    /* border: 2px solid rgb(0, 60, 255); */
    background: rgb(241, 252, 245);
    height: 88.5%;
  }
  .hide-show{
    /* border: 2px solid #d9ff00; */
    display: block;
    position: absolute;
    width: 20rem;
    top:6rem;
    z-index: 10;
  }
  /* =========== Search Part ============ */
  .search-box{
    /* border: 2px solid red; */
    padding-top: 5.5rem;  
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20px,1fr));
    align-items: center;
  }
  .input-box{
    line-height: 3rem;
    border: none;
    outline: none;
    width: 12rem;
    padding: 0px 10px 0px 5px;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    border-bottom: 1px solid gray;
    text-transform: capitalize;
    letter-spacing: .01rem;
  }
  .input-box:hover, .input-box:active {
    background: #fff;
  }
  .search-icon{
    margin-right: 2rem;
    font-weight: 700;
    color: rgb(32, 143, 187);
  }
/* =========== Sidebar-menu Part ============ */
ul{
  padding-inline: 1rem;
  padding-block: 1rem;
  list-style: none;
}
ul li{
  /* border: 2px solid #008000; */
  line-height: 5rem;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}
.menu-list ul li:hover{
  /* background: var(--hover-color); */
  cursor: pointer;
  text-decoration: underline;
}
ul li a{
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.icons{
  margin-right: 2.2rem;
  font-size: 2rem;
  min-width: 2rem;
  color: var(--icons-color);
}
span{
  color: #090a09;
}
/* =========== sidebar-bottom Part ============ */
.bottom-content li:hover{
  background: var(--hover-color);
  }
/* ============== start-home ============= */
main{
    background: #3f363f;
    grid-area: main;
    padding: 2rem 2.5rem;    
    color: #e0dedf;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
/* // */
.collaps{
  margin-left: 20rem;
}
.main_title{
    /* border: 2px solid rgb(109, 221, 4); */
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.main_cards{
    /* border: 2px solid rgb(109, 221, 4); */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 2rem;
}
.card{
    /* border: 2px solid rgb(236, 250, 223); */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2.5rem 2rem;
    border-radius: .5rem;
}
.card:first-child{
    background: #013868;
}
.card:nth-child(2){
    background: #1b8d01;
}
.card:nth-child(3){
    background: rgb(136, 1, 118);
}
.card:nth-child(4){
    background: rgb(175, 4, 4);
}
.inner_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.inner_card h3{
    text-transform: uppercase;
    font-size: 1.8rem;
}
.inner_card .icon{
    font-size: 2rem;
}
/* =====main chart =========*/
.main_charts{
    /* border: 2px solid #04ecec; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    gap: 2rem;
    text-transform: capitalize;
    margin-top:1rem;  
}
.barChart{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 30rem;
    padding-bottom: 5rem;  
}
.simpleBarChart{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 30rem;
    padding-bottom: 5rem;    
}
.barChart h1{
    text-align: center;
    margin-bottom: 2rem;
}
.simpleBarChart h1{
    text-align: center;
    margin-bottom: 3rem;
}
/**    ====================== responsive code ==========================   **/
/* 992px */
@media screen and (min-width:992px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 3fr;
    grid-template-areas: 'header' 'main';
  }
  aside{
    display: none;
  }
  .menu_icon{
    display: inline;
  }
  .logo-name{
    display: inline;
  }
  .close-icon{
    display: block;
  }
}
